<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">¡Gracias por visitar mi sitio web!</h3>
        <h4 class="mb-0 font-weight-light">No olvides seguirme en mis redes sociales</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        
        <a class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" href="https://twitter.com/imjuancarlos_" target="_blank" data-toggle="tooltip" title="Follow en mi Twitter">
          <i class="fa fa-twitter-square"></i>
          <span class="nav-link-inner--text d-lg-none">Twitter</span>
        </a>

        <a class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" href="https://www.linkedin.com/in/iamjuancarlosb" target="_blank" data-toggle="tooltip" title="Encuentrame en Linkedin">
          <i class="fa fa-linkedin"></i>
          <span class="nav-link-inner--text d-lg-none">Linkedin</span>
        </a>

        <a class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" href="https://www.instagram.com/iamjuancarloss_/" target="_blank" data-toggle="tooltip" title="Follow en mi Instagram">
          <i class="fa fa-instagram"></i>
          <span class="nav-link-inner--text d-lg-none">Instagram</span>
        </a>


        <a class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" href="https://github.com/Juancarlos56/" target="_blank" data-toggle="tooltip" title="Trabajemos en Github">
          <i class="fa fa-github"></i>
          <span class="nav-link-inner--text d-lg-none">Github</span>
        </a>
      
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.creative-tim.com?ref=adsa-footer" target="_blank">Juan Carlos Barrera Barrera</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://github.com/creativetimofficial/argon-design-system-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
